.home-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    min-height: 670px;
    background-image: url(../../asets/Home/bg.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
}